<div id="home" class="container">
   <div id="front" class="row">
        <div class="col-sm-12">
            <h1 class="redressed"><span>M</span>ike Busta</h1>
            <p class="redressed">Web Developer</p>
            <a class="btn btn-default hvr-bounce-to-right" href="https://github.com/mbusta305" target="_blank" role="button">
                <i class="fa fa-github"></i> Github</a>
            <a class="btn btn-default hvr-bounce-to-right" href="https://www.linkedin.com/in/michael-busta-945bb2117" target="_blank" role="button">
                <i class="fa fa-linkedin"></i> LinkedIn</a>
            <a class="btn btn-default hvr-bounce-to-right" href="https://twitter.com/mbusta305" target="_blank" role="button">
                <i class="fa fa-fire"></i> Twitter</a>
            <a class="btn btn-default hvr-bounce-to-right" href="https://www.instagram.com/mbusta305/?hl=en" target="_blank" role="button">
                <i class="fa fa-fire"></i> Instagram</a>
          <h4>“Perhaps imagination is only intelligence having fun.” ― George Scialabba</h4>
        </div>
    </div>
</div>
<div id="about" class="container">
  <div class="row">
    <div class="col-sm-12 about">
      <h1>About Me:</h1>
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAVRAAAAJDQ1YjZlNGUzLTNmNDctNDE1Zi04Mzc0LTllZDY5NmVlYzg5Mw.jpg" class="img-responsive" alt="MikeBusta">
      <h2>Hola,</h2>
      <p>I am a web developer who attended Wyncode Academy Web Immersive program. I am currently based in Miami, Florida. I have a passion for developing websites &amp; web applications. Other passions of mine include: Surfing, Photography, and my dog Zig!.</p>
      <p>Competencies: HTML, CSS, JavaScript, Ruby, Adobe Illustrator, Final Cut Pro, as well as Fundamental Design Principles</p>
      <p>"Logic will get you from A to B. Imagination will take you everywhere."- Albert Einstein.
    </div>
  </div>
</div>
<div id="contact" class="container">
  <div class="row">
    <h2>Contact: <strong>Michael Busta</strong></h2>
    <p>Miami, Florida</p>
    <ul class="list-unstyled">
      <li class="phone"><a href="tel:305-761-4289"><strong>305-761-4289</strong></a></li>
      <li class="mail"><a href="mailto:busta2356@gmail.com"><strong>busta2356@gmail.com</strong></a></li>
      <li class="twitter"><a href="https://twitter.com/intent/tweet?screen_name=mbusta305">@mbusta305</a></li>
    </ul>
      <a class="btn btn-default hvr-bounce-to-right" href="https://github.com/mbusta305" target="_blank" role="button">
          <i class="fa fa-github"></i> Github</a>
      <a class="btn btn-default hvr-bounce-to-right" href="https://www.linkedin.com/in/michael-busta-945bb2117" target="_blank" role="button">
          <i class="fa fa-linkedin"></i> LinkedIn</a>
      <a class="btn btn-default hvr-bounce-to-right" href="https://twitter.com/mbusta305" target="_blank" role="button">
          <i class="fa fa-fire"></i> Twitter</a>
      <a class="btn btn-default hvr-bounce-to-right" href="https://www.instagram.com/mbusta305/?hl=en" target="_blank" role="button">
          <i class="fa fa-fire"></i> Instagram</a>
  </div>
</div>
